<!DOCTYPE html>
<html>
  <head>
    <title>{{ list.name }}</title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{ list.name }}</h1>
        <p>
          <a href="{% url 'todo_list_update' list.id %}">Edit
          </p>
          <p>
            <a href="{% url 'todo_list_delete' list.id %}">Delete</a>
          </p>
          <h2>Tasks</h2>
          <table>
            <tr>
              <th>Task</th>
              <th>Due date</th>
            </tr>
            {% for item in items.all %}
              <tr>
                <td>{{ item.task }}</td>
                <td>{{ item.due_date|date:"D d-m-Y" }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </main>
    </body>
  </html>
