<!DOCTYPE html>
<html>
  <head>
    <title>Update List</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update List</h1>
        <form method="post">
          {% csrf_token %} <label for="name">Name:</label>
          <input
            type="text"
            id="name"
            name="name"
            value="{{ todo_list.name }}"
            required
          />
          <button type="submit">Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
