<!DOCTYPE html>
<html>
  <head>
    <title>Update Todo Item</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Update item</h1>
        <form method="post">
          {% csrf_token %}
          <label for="task">Task:</label>
          <input type="text"
                 id="task"
                 name="task"
                 value="{{ todo_item.task }}"
                 required />
          <label for="due_date">Due Date:</label>
          <input type="date"
                 id="due_date"
                 name="due_date"
                 value="{{ todo_item.due_date|date:'Y-m-d' }}" />
          <label for="is_completed">Is Completed:</label>
          <input type="checkbox"
                 id="is_completed"
                 name="is_completed"
                 {% if todo_item.is_completed %}checked{% endif %} />
          <label for="todo_list">List:</label>
          <select id="list" name="list">
            {% for todo_list in todo_lists %}
              <option value="{{ todo_list.id }}"
                      {% if todo_list == todo_item.todo_list %}selected{% endif %}>{{ todo_list.name }}</option>
            {% endfor %}
          </select>
          <button type="submit">Update</button>
        </form>
      </div>
    </main>
  </body>
</html>
